{% extends "schadensrechnung/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<section id="services" class="contact section-bg" style="margin-top:35px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Registration</h2>

        </div>
        <form action="" method="POST" class="php-email-form_new">

            {% csrf_token %}

            {% if erorr_message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error:</strong> {{ erorr_message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}





            <div id="div_id_first_name" class="form-group">
                <label for="id_first_name" class=" requiredField"> First Name </label>
                <div>
                    <input type="text" name="first_name" class="textinput form-control" id="id_first_name" value="{{ first_name }}">
                </div>
            </div>


            <div id="div_id_last_name" class="form-group">
                <label for="id_last_name" class=" requiredField"> Last Name </label>
                <div>
                    <input type="text" name="last_name" value="{{ last_name }}" class="textinput form-control" id="id_last_name">
                </div>
            </div>
            <div id="div_id_email" class="form-group">
                <label for="id_email" class=" requiredField"> Email </label>
                <div>
                    <input type="email" name="email" value="{{ email }}" class="textinput form-control" id="id_email">
                </div>
            </div>
            <div id="div_id_password" class="form-group">
                <label for="id_password" class=" requiredField"> Password </label>
                <div>
                    <input type="password" name="password" class="textinput form-control" id="id_password">
                </div>
            </div>
            <div id="div_id_confirm_password" class="form-group">
                <label for="id_confirm_password" class=" requiredField"> Confirm Password </label>
                <div>
                    <input type="password" name="confirm_password" class="textinput form-control" id="id_confirm_password">
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
        
    </div>
</section>

{% endblock content %}